.main-block {
  margin-bottom: 20px;
  background: #fff;
  border-radius: 0 0 5px 5px;
}

.main-block-header {
  text-transform: uppercase;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
}
.main-block-header .icon-collapse {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
}
.main-block-header .icon-tutorial {
  position: absolute;
  right: 36px;
  top: 10px;
  cursor: pointer;
}
.main-block .main-block-header {
  color: #699669;
  border-bottom: solid 1px #88BB88;
}


